
html {
    background-image: url("../images/background 1.png");
    min-width: 1366px;
    min-height: 768px;
    background-size:cover;
    background-repeat: no-repeat;
}
.header {
    margin: auto;
    display: flex;
    width: 1028px;
    height: 61px;
    justify-content: space-between;
}
.container {
    order: -1;
    margin: 0px;
    block-size: border-box;
    display: inline-flex;
    justify-content: space-between;
    margin-left: 20px;
}
.logo {
    width: 53px;
    height: 47px;
    margin-right: 8px;

    /*background: url("../images/log.png");*/
}
.title_milan {
    width: 140px;
    height: 30px;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    align-items: center;
    margin: 0px;
    color: #FFFFFF;
}
.title_holidays {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    margin: 0px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-transform: uppercase;
    width: 135px;
    height: 21px;
}
.mail_phone {
    margin-right: 46px;
}
.mail {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items:center;
    color: #FFFFFF;
    width: 219px;
    height: 21px;
    margin: 0px;
}
.phone {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    /*width: 146px;*/
    height: 21px;
    margin-top: 15px;
    justify-content: end;
}

.tours_container {
    display: flex;
    justify-content: center;
}
img{
    width: 300px;
    height: 220px;
}
.tours_gallery {
    display: flex;
    width: 1030px;
    height: 560px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.tours_card {
    display: flex;
    margin-right: 30px;
}

.footer {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    margin: 0px;
}
.footer_footer {
    margin-top: 40px;
    width: 306px;
    height: 21px;
}
figure {
    margin: auto;
}
a {
    text-decoration: none;

}
.link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    /*display: flex;*/
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.img_text1:hover {
    color: #F26522;
}
.phone:hover{
    color: #F26522;
}
.mail:hover{
    color: #F26522;
}
.title_milan:hover { color: #F26522; }
.title_holidays:hover { color: #F26522;}
.logo:hover {
    display: inline-block;
    background-size: cover;
    background: url(../images/logg.svg);}
.logo {
    background-image: url(../images/lo.png);
}
.image_card {
    display: block;
    height: auto;
    width: 100%;
}
.name {
    position: absolute;
    bottom: 0;
    /*background: rgb(0, 0, 0);*/
    background:  #F26522; /* Black see-through */
    /*color: #f1f1f1;*/
    width: 259px;
    height: 20px;
    transition: .8s ease;
    opacity:0;
    /*color: white;*/
    font-size: 20px;
    padding: 20px;
    text-align: center;
    display: flex;
    margin-bottom: 20px;

}
.tours_card {
    position: relative;
    width: 50%;
    max-width: 300px;
}
.tours_card:hover .name {
    opacity: 1;
}
.from {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    display: flex;
    margin: 0px;
    padding-bottom: 20px;
    color: #FFFFFF;
}
.euro {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    color: #FFFFFF;
    margin: 0px;
    padding-top: 10px;
}
.view {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    color: #FFFFFF;
    padding-top: 10px;
    padding-left: 110px;
    margin: 0px;
}
.img_text1 {
    padding-top: 5px;
}